bin/
obj/

TestResults/

coverage/
*.coverage
*.coveragexml

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

.vscode/*

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

project.lock.json
project.fragment.lock.json
artifacts/

.DS_Store 